@font-face {
  font-family: Circular-Black;
  src: url(../fonts/circular-black.otf);
}

@font-face {
  font-family: Circular-Book;
  src: url(../fonts/circular-book.otf);
}

@font-face {
  font-family: RobotoMono;
  src: url(../fonts/robotomono-light.ttf);
}