@font-face {
  font-family: Circular-Black;
  src: url(../Fonts/circular-black.otf);
}

@font-face {
  font-family: Circular-Book;
  src: url(../Fonts/circular-book.otf);
}

@font-face {
  font-family: RobotoMono;
  src: url(../Fonts/RobotoMono-Light.ttf);
}