// Fonts:
$fontFamilyPrimary-regular: "Circular-Book", sans-serif;
$fontFamilyPrimary-bold: "Circular-Black", sans-serif;

// Colors:
$lightGrey: #f2f2f2;
$timerRed: #b30b23;
$errorRed: #ff0000;

// Breakpoints
$bpLarge: "min-width: 1120px";