@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);
@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700);

body {
  margin: 20px;
  font-family: 'Futura', sans-serif;
  font-weight: 300;
  letter-spacing: .05rem;
  text-align: center;
  background-color: #00d2ff;
}

h1 {
  margin: 0;
  font-weight: 900;
  font-size: 3rem;
  color: #ffdd3e;
}

h3 {
  margin-top: 0;
}

p {
  margin: 5px;
  font-size: .9rem;
}

ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: .8rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding: 10px 15px;
  width: 220px;
  font-family: 'Fira Code', monospace;
  font-size: .8rem;
  font-weight: 300;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #000;
}

input:focus {
  color: #000;
  background-color: #ffdd3e;
  transition: background-color 400ms;
  outline: none;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  font-family: 'Fira Code', monospace;
  font-size: .8rem;
  font-weight: 300;
  letter-spacing: .05rem;
  color: #fff;
  background-color: #ff5bbb;
  border-radius: 25px;
  border: 0;
  transition: background-color 400ms;
}

button:hover {
  color: #000;
  background-color: #ffdd3e;
  cursor: pointer;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardContainer {
  margin: 20px;
  padding: 20px;
  height: 100%;
  width: 300px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
}

.clock > h3 {
  margin: 0;
  font-family: 'Fira Code';
  font-size: 2rem;
  font-weight: 700;
}

.deleteButton {
  margin-left: 10px;
}

.resetButton {
  background-color: #000;
}

.cardContainer.TimerEnding {
  background-color: #c23131;
  transition: all 400ms;
  -webkit-animation: heartbeat 1.5s ease-in-out 1 both;
	        animation: heartbeat 1.5s ease-in-out 1 both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}