@font-face {
  font-family: Circular-Black;
  src: url(components/fonts/circular-black.otf);
}

@font-face {
  font-family: Circular-Book;
  src: url(components/fonts/circular-book.otf);
}

@font-face {
  font-family: RobotoMono;
  src: url(components/fonts/robotomono-light.ttf);
}

body {
  margin: 20px;
  font-family: 'Circular-Book', sans-serif;
  font-weight: 300;
  letter-spacing: .05rem;
  text-align: center;
  background-color: #f2f2f2;
}

main {
  margin-top: 10px;
}

main, .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h3, h4, strong {
  font-family: 'Circular-Black', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3.4rem;
}

.headingBackground {
  padding: 0px 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

h3 {
  margin-top: 0;
  padding: 10px 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

h4 {
  margin-bottom: 0;
}

p {
  margin: 5px;
  font-size: .9rem;
}

.cardContainer {
  margin: 15px 20px;
  padding: 20px 20px;
  width: calc(100% - 40px);
  max-width: 500px;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
}

.cardContainer.TimerEnding {
  background-color: #c23131;
  transition: all 400ms;
  -webkit-animation: alert 1.5s ease-in-out 1 both;
          animation: alert 1.5s ease-in-out 1 both;
}

.clock > h3 {
  margin: 0;
  padding: 0;
  font-family: 'Circular-black', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  background-image: none;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  font-family: 'RobotoMono', monospace;
  font-size: .8rem;
  font-weight: 300;
  letter-spacing: .08rem;
  color: #fff;
  background-color: #000;
  border-radius: 25px;
  border: 0;
  transition: background-color 400ms;
}

button:hover {
  color: #000;
  background-color: #ffdd3e;
  cursor: pointer;
}

.resetButton {
  background-color: #000;
}

.deleteButton {
  margin: 0 0 0 10px;
}

input {
  padding: 10px 15px;
  width: calc(100% - 30px);
  font-family: 'RobotoMono', monospace;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  box-shadow: none;
}

input:focus {
  color: #000;
  background-color: #ffdd3e;
  transition: background-color 400ms;
  outline: none;
}

ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: .8rem;
}

li {
  margin: 10px 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

img.weatherIcons {
  width: 100px;
}

.error {
  margin-top: 10px;
  color: #ff0000;
}

::selection {
  background: #ffdd3e;
  color: #000;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 1120px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .wrapper {
    width: auto;
    justify-content: flex-start;
  }

  h1 {
    font-size: 4rem;
  }

  .cardContainer {
    min-width: 300px;
    max-width: 300px;
  }

  input {
    font-size: .8rem;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes alert {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes alert {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}