.Grid {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
  @media screen and ($bpLarge) {
    flex-direction: row;
    width: auto;
  }
}

.Grid-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and ($bpLarge) {
    width: auto;
    justify-content: space-between;
    height: 100%;
  }
}

.Grid--gutter {
  margin-top: (-0.5 * 30px);
  margin-right: (-0.5 * 40px);
  margin-bottom: (-0.5 * 30px);
  margin-left: (-0.5 * 40px);
  & > .Grid-cell {
    padding-top: (0.5 * 30px);
    padding-right: (0.5 * 40px);
    padding-bottom: (0.5 * 30px);
    padding-left: (0.5 * 40px);
  }
  @media screen and ($bpLarge) {
    margin-top: (-0.5 * 40px);
    margin-bottom: (-0.5 * 40px);
    & > .Grid-cell {
      padding-top: (0.5 * 40px);
      padding-bottom: (0.5 * 40px);
    }
  }
}
